<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FDB.CC.ContentServices.Soap.V1_3.OKAmbulatoryService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.fdbcloudconnector.com/cc/Soap/v1_3/OKAmbulatoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="FDB.CC.ContentServices.Soap.V1_3.OKAmbulatoryService"
                contract="OkAmbClient2.IOKAmbulatoryService" name="FDB.CC.ContentServices.Soap.V1_3.OKAmbulatoryService" />
        </client>
    </system.serviceModel>
</configuration>